img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

body{
    background-color: rgb(255, 228, 198);

}
h1{
    text-align: center;
    color: brown;
}

h2{
    color: rgb(134, 60, 60);
}